@mixin test($bg-color: white) {
    background-color: $bg-color;
    width: 120px;
    border: solid 1px #333;
    text-align:center;
}

th {
    @include test(#fff4bc);
}

td {
    @include test();
}

table {
    font-family: Meiryo;
    margin-top:10px;
    margin-bottom: 50px;
}

body {

}

button {
    margin: 10px 5px;
    font-weight:bold;
    font-size:0.9em;
    width:100px;
}