<button (click)="clockIn()">出勤</button>
<button (click)="clockOut()">退勤</button>
<button (click)="show()">履歴表示</button>
<table *ngIf="workingRecords.count !=0">
    <tr>
        <th >勤務日</th>
        <th>出勤時刻</th>
        <th>退勤時刻</th>
    </tr>
    <tr *ngFor="let workingRecord of workingRecords">
        <td>{{workingRecord.recordeDate | date:'yyyy/MM/dd'}}</td>
        <td>{{workingRecord.clockIn|date:'HH:mm:ss'}}</td>
        <td>{{workingRecord.clockOut|date:'HH:mm:ss'}}</td>
    </tr>
</table>